html
  head

    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    link(rel='stylesheet', href='../../public/css/style.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    title MyClients
    
  body  
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/home') Home
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/fruitjuice/clients') Clients
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/produits') Produits
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/factures') Factures


    //- searching by id

    
    form(method='get', id="client" action=`/fruitjuice/clientfind/${id}`)
      .form-row
        .form-group.col-md-3
          label(for='client') client
          input#inputClient.form-control(type='text', name="id", value=" ", placeholder=`by id`)
        button.btn.btn-primary(type='submit', value="connected") search

    form(method='POST', action=`/fruitjuice/clientfindall`)

      table.table.table-striped.table-dark
        thead
          tr
            th(scope='col') #
            th(scope='col') Prenom
            th(scope='col') Nom
            th(scope='col') Adresse
            //- th(scope='col') Date de creation
            th
              
                //-   label.sr-only(for='inlineFormInput')
                //-   input#inlineFormInput.form-control.mb-2(type='text', name="articleId", placeholder='By id')
                //- .col-auto
                //- button.btn.btn-primary.mb-2(type='submit')
                //-   i.fa.fa-search
                //-   |  Search

            th
              button.btn.btn-success(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/client/add'`) 
                i.fa.fa-plus-circle
                      |  Add


        //- all clients
        tbody
        each client in clients
          tr
            th(scope='row')= client.id
            td= client.prenom
            td= client.nom
            td= client.adresse
            //- td= client.datecreation.toLocaleString("fr-FR")
            
            td
              form(method='POST', action=`/fruitjuice/clientdelete/${client._id}`)
                button.btn.btn-danger(type='submit')
                  i.fa.fa-trash-o
                  //- DELETE
            td
              button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/client/edit/${client._id}'`) 
                i.fa.fa-pencil-square-o
                //-  EDIT
            td
              button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/client/${client._id}'`) 
                i.fa.fa-eye(aria-hidden='true')
                
                //-  VIEW LIST ONE