html
  head
    title MyClients
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')

    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/home') Home
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/fruitjuice/clients') Clients
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/produits') Produits
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/factures') Factures

    //- background and tab
    .card.bg-dark.text-white
      img.card-img(src='../../public/images/fruitjuice_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        //- searching by id
        form(method='POST', action=`/fruitjuice/facturetfindall`)

        table.table.table-striped.table-dark
          thead
            tr
              th(scope='col') #
              th(scope='col') Client
              th(scope='col') Date emission
              th(scope='col') Payer
              th(scope='col') Date paiement
              th(scope='col') Prix
              th(scope='col') Reference
              th
              th
                button.btn.btn-primary(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/facture/add'`) +


          //- all factures
          tbody
          each facture in factures
            tr
              th(scope='row')= facture.id
              td= facture.client
              td= facture.datemission
              td= facture.payer
              td= facture.datepaiment
              td= facture.prix
              td= facture.reference
              //- td= facture.datecreation.toLocaleString("fr-FR")
              
              td
                form(method='POST', action=`/fruitjuice/facturedelete/${facture._id}`)
                  button.btn.btn-danger(type='submit') DELETE
              td
                button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/facture/edit/${facture._id}'`) EDIT
