doctype html
html
  head
    title Factures
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    style.
      body {font-family: "Times New Roman", Georgia, Serif;}
      h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
      }
    //- Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    //- link(rel='stylesheet', href='../../public/css/style.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    
  body  
    // Navbar (sit on top)
    .w3-top
      .w3-bar.w3-white.w3-padding.w3-card(style='letter-spacing:4px;')
        a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/home') Fruit Juice 
        // Right-sided navbar links. Hide them on small screens
        .w3-right.w3-hide-small
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/home') Home
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/clients') Clients
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/produits') Produits
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/factures') Factures
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/register') Inscription
          a.w3-bar-item.w3-button(href='http://localhost:3000/fruitjuice/login') Connexion
    // Header
    header#home.w3-display-container.w3-content.w3-wide(style='max-width:1600px;min-width:500px')
      img.w3-image(src='/w3images/hamburger.jpg', alt='Hamburger Catering', width='1600', height='800')
      .w3-display-bottomleft.w3-padding-large.w3-opacity
        h1.w3-xxlarge Le Catering

    div(style='margin-top:75px;')
      //- searching by id
      h3(style='margin-bottom:20px;') Factures
      nav.navbar.navbar-light.bg-light
        form.form-inline(method='post' action='/fruitjuice/facturesearch/')
          input#inputfacture.form-control.mr-sm-2(type='text', name="id", value="", placeholder='Search by _id')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 
      
                    i.fa.fa-search(aria-hidden='true')   
                    
      form(method='GET', action=`/fruitjuice/facturefindall`)
      table.table.table-striped.table-light
        thead
          tr
            th(scope='col') #
            th(scope='col') Client
            th(scope='col') Date emission
            th(scope='col') Payer
            th(scope='col') Date paiement
            th(scope='col') Prix
            th(scope='col') Reference
            th
              button.btn.btn-outline-warning(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/facture/add'`) 
                                i.fa.fa-plus-circle
                                      |  Add            
            th
            th


        //- all factures
        tbody
        each facture in factures
          tr
            th(scope='row')= facture.id
            td= facture.client
            td= facture.datemission
            td= facture.payer
            td= facture.datepaiment
            td= facture.prix
            td= facture.reference
            //- td= facture.datecreation.toLocaleString("fr-FR")
            
            td
              form(method='POST', action=`/fruitjuice/facturedelete/${facture._id}`)
                button.btn.btn-outline-danger(type='submit')
                  i.fa.fa-trash-o
                  //- DELETE
            td
              button.btn.btn-outline-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/facture/edit/${facture._id}'`)
                i.fa.fa-pencil-square-o
                  //-  EDIT
            td
                button.btn.btn-outline-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/fruitjuice/facture/${facture._id}'`) 
                  i.fa.fa-eye(aria-hidden='true')
                  //-  VIEW LIST ONE